.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(189, 169, 207);
    padding: 3px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu{
    display: flex;
    justify-content: space-evenly;
}

.menu li{
    list-style-type: none;
    padding-right: 12px;
}

.nav-link{
    text-decoration: none;
    color: #5b277e;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

.nav-link:hover{
    color: #a855f7;
}

.nav-link.active{
    color: #000000;
    font-weight: bold;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
