.page-container {
  padding: 1rem;
  background-color: #faf5ff;
  border-radius: 1rem;
  animation: fadeIn 0.7s ease;
}

.page-title {
  font-size: 2rem;
  color: #6b21a8;
  font-weight: bold;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-subtitle {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #6b21a8;
}

.page-text {
  color: #4b5563;
  margin-bottom: 0.75rem;
}

.page-list {
  list-style-type: disc;
  margin-left: 1.5rem;
  color: #51374e;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.about{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  background: linear-gradient(to bottom right, #0f172a, #5d3e61);
  color: white;
  min-height: 100vh;
  font-size: 1.2rem;
  gap: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-left {
  flex: 2;
  padding-left: 3rem;
}

.about-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.highlight {
  color: #a855f7;
}

.skills-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #93399b;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.skills-button:hover {
  background-color: #b694b2;
}

.avatar {
  width: 400px;
  height: auto;
  border-radius: 9999px;
}